.menu_container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

::ng-deep .menu-title{
  color: #543A14;
  font-size: 24px;
  font-weight: bold;
  padding: 8px 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

