.title-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-card-title{
  font-size: 2rem;
  font-weight: bold;
  color: #FED8B1;
}

.card-title{
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  background-color:#6f4e37 ;
}
