@use '../node_modules/@angular/material' as mat;
@use "../theme-colors.scss" as theme;

html{
  @include mat.theme(theme.$primary-palette);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ECB176;
}

